<div class="textBlock">
    <p>{{ myselfString }}</p>
    <br/>

    <img class="schoolImage" [src]="universityPath" alt="Carousel Image">

    <p [innerHTML]="dutString"></p>
    <br/>

    <img class="schoolImage" [src]="engineerPath" alt="Carousel Image">

    <p [innerHTML]="engineerString"></p>
    
    <img class="schoolImage" [src]="sopraPath" alt="Carousel Image">

    <p [innerHTML]="sopraString"></p>

    <img class="schoolImage" [src]="defensePath" alt="Carousel Image">

    <p [innerHTML]="defenseString"></p>

    <img class="schoolImage" [src]="covidPath" alt="Carousel Image">

    <p [innerHTML]="covidString"></p>

    <img class="schoolImage" [src]="portugalPath" alt="Carousel Image">

    <p [innerHTML]="portugalString"></p>

    <img class="schoolImage" [src]="atheaPath" alt="Carousel Image">

    <p [innerHTML]="atheaString"></p>

    <img class="schoolImage" [src]="bontazPath" alt="Carousel Image">

    <p [innerHTML]="bontazString"></p>

</div>
